@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Rye&display=swap');

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(./img/madeira.webp);
    min-height: 100%;
}

.container-header {
    margin: 10px 80px 20px;
    background-color: #f1ebe8;
    opacity: 0.9;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

#imagem-rute-lisa {
    height: 250px;
    transform: rotate(25deg);
}

#imagem-rute-lisa:hover {
    animation: tremer .2s;
    animation-iteration-count: 4;
}

#descricao-do-quadro-imagem {
    font-size: 2rem;
    font-family: 'Frijole', cursive;
    font-family: 'Rye', cursive;
    max-width: 40%;
    color: rgb(136, 49, 49);
}
#botaoParaMudarPosicaoDaFoto {
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

#botaoParaMudarPosicaoDaFoto:hover {
    background-color:rgb(95 54 24);
}
 /*classe pra evento do botão de mudar posição da foto*/ 
.deixar-foto-reta {
    transform: rotate(0) !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}

.container-de-icones {
    margin: auto;
    display: flex;
    gap: 20%;
    display: flex;
    justify-content: center;
}

#icons {
    font-size: 60px;
    display: flex;
    justify-content: space-around;
    margin: 40%;
    color: #fff;
}

@keyframes tremer {
    0% {transform: rotate(-25deg) translate(0px, 0px);}
    25% {transform: rotate(-25deg) translate(7px, 7px);}
    50% {transform: rotate(-25deg) translate(0px, 0px);}
    75% {transform: rotate(-25deg) translate(-7px, -7px);}
    100% {transform: rotate(-25deg) translate(0px, 0px);}
}
